.header {
  background-color: #102040;
  color: #fff;
  padding: 20px 0;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header li {
  padding: 15px 30px;
  list-style: none;
}

.header a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 15px 20px;
  transition: all 0.3s;
}

.header a:hover {
  color: #fff;
  background-color: #0080f04d;
}
